@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 12px;
	line-height: 1.5;
	
	
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.target {
	display:flex;
	flex-wrap: wrap; 
	justify-content: center;
	

	/* border: black 1px solid */

}

.main-content{ 
	display: flex;
	justify-content: space-around;

}
.associates-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	


}
h4 {
	margin: 0
}
.associate-div {

	/* border: dotted 1px lightgrey;
	background: rgb(255, 133, 133);
	margin: .5em;
	padding: 1.5em;
	height: 15vh;
	border-radius: 2em; */
	
}

header {
	display:flex;
	flex-direction: column;
	align-items: center
}

nav {
	height: 4em;
	width: 100vw;
	background-color: rgb(0, 0, 0);
	justify-content: center;
	
}

ul {
	display: flex;
	justify-content: space-evenly;
	align-items:center;
	padding: 1em;
	
	
}
li {
	list-style: none;
	font-size: larger;
	
	
}

li a {
	/* border:  white 1px dotted; */
	text-decoration: none;
	color: whitesmoke;
	cursor: pointer;
	padding: 1em;
	
	
	
}

.alibis-list {
	justify-content: left;
}

.alibis-list-items {
	list-style: square;
	
	
}

.modal-criminal-title {
	text-align: center
}

 button {
	 cursor: pointer
 }

 .alibi-button {
	 margin-bottom: .5em;
 }

a:hover{
	/* background-color: rgb(129, 127, 127); */

}




.dropdown {

	width: 20vw
}
.dropdown-a-buttons {
	display: flex;
	justify-content: space-evenly;
	margin: 2em;
	
	
}

.target-container {
	align-items: center;
	text-align: center;
	
}

.cards-rows {
	display: flex;
	/* border: solid black 1px; */
	flex-wrap: wrap;
	justify-content: space-evenly;

	
}

#criminal-card {
	flex-basis: 18%;
	margin: 1em;
	text-align: center;
	/* padding-bottom: .5em; */
	border: black 1px dotted
	
}


.dark-background{
	background-color: #2b362e;
	color: #fafcfb;
  }

